.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    box-shadow: 2px 2px 8px gray;
    z-index: 99999;
}

.navbar__1{
    width: auto;
    height: auto;    
    text-align: center;
}

.navbar__1 a{
    color: black;
    display: block;
    position: relative;
    text-decoration: none;
    padding-left: 4.5rem;
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
}   

.nav__logo {
    position: absolute;
    left: 0;
    bottom: -19px;
    width: 4rem;
    height: auto;
}

.navbar__link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 22rem;
}

.navbar__link li{
    list-style-type: none;
}

.navbar__link li a {
    color: black;
    display: block;
    position: relative;
    padding-left: 30px;
    text-decoration: none;
    font-size: var(--h3-font-size);
}

.navbar__link li a::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: black;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
.navbar__link li a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.navbar__link li a:hover::after,
.navbar__link li a:focus::after {
    transform: scale(1);
}

.navlink__icon{
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 1.8rem;
    height: auto;
    color: black;
}